extends layout

block content
    main
      div.navigation
        &ensp;
        a(href='/cleaning') Cleaning
        br
        &ensp;
        a(href='/layer') Layer
        br
        &ensp;
        a(href='/gas') Gas
        br
        &ensp;
        a(href='/process') Process
        br
        &ensp;
        a(href='/equipment') All info        