table {
    width: 80%;
    border-collapse: collapse;
    margin: 29px;
    border-collapse: separate;
    border: 0;
    border-spacing: 0;
    color: #2a2a2a;
    background: -moz-linear-gradient(top, #f1f1f1, #e1e0e0, #f1f1f1);
    background: -webkit-gradient(linear, center bottom, center top, from(#f1f1f1), color-stop(0.5, #e1e0e0), to(#f1f1f1));
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    border: 1px solid white;
    min-width: 90px;
    max-width: 90px;
    width: 100px!important;
    overflow: hidden;
    padding: 2px 0;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    text-align: center;
    vertical-align: middle;
    font-size: 88%;
}
thead {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.8);
}
.hiddenTr{
	display: none;
}
a.button {
    box-shadow: 2px 2px 5px gray;
    padding: 2px 8px;
}
a.delete {
    color: black;
    text-decoration: none;
	background: linear-gradient(coral,rgb(228, 100, 53));
    box-shadow: 2px 2px 5px rgb(212, 212, 212);
	width: 70px;
    padding: 2px 3px;
    margin: 5px;
	display: inline-block;
	border: 1px solid gray;
	text-align: center;
}
.header{
    background-image: url(/Css/Images/style.jpg);
    background-position: center;
    color: white;
}
.header a{
    color: white;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 21pt;
}
main input,.row>input{
	width: 70px;
	padding:1px 3px;
	margin: 5px;
}
h1 {
    color: gray;
    font-size: 24pt;
	font-family: Brush Script MT, Brush Script Std, cursive;
	padding-left: 17px;
}
caption {
    caption-side: top;
	font-family: Brush Script MT, Brush Script Std, cursive;
	padding-left: 17px;
	font-size: 18pt;
	color: black;
}
main, footer{
	padding: 10px;
}
main .navigation a{
	color:black;
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-decoration: none;
	border-left: 2px solid rgb(138, 137, 137);
	border-bottom: 2px solid black;
	padding-left: 4px;
	font-size: 16pt;
	width: 200px;
	display: inline-block;
	margin-bottom: 7px;
}
table input{
	width: 90%;
	padding:1px 3px;
	margin: 5px;
	background: rgba(255, 255, 255, 0.64);
	border:1px solid rgb(201, 200, 200);
}
#filter2 *{
	margin: 2px;
}
input[type="radio"]{
	width: max-content;
}